* {
	margin: 0;	
	padding: 0;
	box-sizing: border-box;
}

body {
	max-width: 1600px;
	margin: 0 auto;
}

a:hover {
	cursor: pointer;
}

.wrapper {
	font-family: Tahoma, sans-serif;

}

header {
	background: url('../img/background_header.jpg');
	padding: 60px 0;
	background-size: cover;
}

h1,
h2,
h3 {
	text-align: center;
	color: white;
}

h1 {
	margin-bottom: 40px;
}

h3 {
	margin-bottom: 10px;
}

header p {
	text-align: center;
	color: white;
	margin-bottom: 35px;
}

.circle-photo {
	width: 175px;
	height: 175px;
	border: 10px solid #5ba399;
	border-radius: 50%;
}

.circle-first {
	background: url('../img/photo-1.jpg') 19% 100% / cover no-repeat;
}

.circle-second {
	background: url('../img/photo-2.jpg') 19% 100% / cover no-repeat;
}

.circle-third {
	background: url('../img/photo.jpg') 19% 100% / cover no-repeat;
}

.circle-fourth {
	background: url('../img/photo-4.jpg') 19% 100% / cover no-repeat;
}

.circle-fifth {
	background: url('../img/photo-5.jpg') 19% 100% / cover no-repeat;
}

.row {
	max-width: 1175px;
	margin: 0 auto;
	padding: 10px 75px;
	display: flex;
	justify-content: space-between;
}

/*-----slider-----*/
.slick-arrow {
	font-size: 110px; 
	position: absolute;
	bottom: 26%;
	color: white;
}

 .slick-slide .slick-current .slick-active .slick-center {
	opacity: 1;
}

.left-arrow {
	left: 0;
	z-index: 2;
	cursor: pointer;
}

.right-arrow {
	right: 0;
	z-index: 2;
	cursor: pointer;
}

.slick-slide {
	opacity: 0.5;
}

.slick-active {

}

/*---end slider----*/

footer {
	padding: 60px 0 120px 0;
	background: url('../img/bg_footer.jpg');
	background-size: cover;
}

.media {
	display: flex;
	justify-content: center;
	margin-bottom: 60px;
}

.media-icon,
.facebook,
.twitter,
.googleplus,
.linkedin,
.dribbble,
.behance,
.instagram    {
	width: 65px;
	height: 65px;
	border-radius: 20px;
	margin: 5px;
	position: relative;
	text-align: center;
	line-height: 65px;
	color: white;
	font-size: 25px;
}

.facebook {
	background-color: #507cbe;
}

.twitter {
	background-color: #63cdf1;
}

.googleplus {
	background-color: #e77d71;
}

.linkedin {
	background-color: #90cadd;
 }

 .dribbble{
 	background-color: #d97aa6;
 }

.behance {
	background-color: #1aace3;
}

.instagram {
	background-color: #c7c5b3;
}

.contact {
	max-width: 606px;
	margin: 0 auto;
}

.name,
.form-line,
.message {
	width: 100%;
	margin-bottom: 10px;
	background-color: #282828;
	border-radius: 3px;
	font-size: 22px;
}

.name,
.form-line {
	height: 60px;
	line-height: 60;
	padding-left: 60px;
	border: none;
}

.message {
	height: 160px;
	border: none;
}

.icon,
.letter {
	position: relative;
}

.man-icon,
.letter-icon {
	position: absolute;
	left: 20px;
	top: 20px;
}

h2 {
	margin-bottom: 60px;
	font-size: 22px;
}

.super-button {
	width: 240px;
	height: 60px;
	border-radius: 3px;
	background-color: #a9a9a9;
	color: #4c4c4c;
	float: right;
	font-size: 22px;
	border: none;
	font-weight: bold;
}